

div{
	font-family: 'Arial';
	background-color: #a8cf45;
	margin: 15px 2px;
	padding: 5px 40px;
	text-align: center;
	font-weight: bolder;
	width: 80px;
	display: inline-block;
	vertical-align: middle;
}



p{
	padding-top: 15px;
}



.caja:hover{
	-moz-animation: 5s cambia_color 1 ;
}

@-moz-keyframes cambia_color{

	from {
		background-color: blue;
	}
	to{
		background-color: yellow;
	}
	
}






.flash:hover{
	-moz-animation:0.7s flash 1;
}


@-moz-keyframes flash {

	25%,75%{
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	
	
}




.click:hover {
	-moz-animation: 0.7s click 1;

}

@-moz-keyframes click{
	25%, 75%{
		-moz-transform:scale(0.8);
	}
	50%{
		-moz-transform:scale(1.1);
	}

	
}



.chicle:hover {
	-moz-animation: 1s click 1;
}


@-moz-keyframes chicle{
	30%{
		-moz-transform: 
					scaleX(1.25) scaleY(0.75);
	}

	40%{
		-moz-transform:
			scaleX(0.75) scaleY(1.25);;
	}

	50%{
		-moz-transform:
			scaleX(1.15) scaleY(0.85);;
	}
}



.vibrador:hover {
	-moz-animation: 1s vibracion infinite;
}


@-moz-keyframes vibracion {
	5%,25%,45%,65%,85%{
		-moz-transform:translateY(-10px);
	}
	15%,35%,55%,95%{
		-moz-transform:translateY(10px);
	}


	10%,30%,50%,70%,90%{
		-moz-transform:translateX(-10px);
	}
	20%,40%,60%,80%{
		-moz-transform:translateX(10px);
	}
	
}




.cartel:hover {
	-moz-animation: 1s cartel 1;
	-moz-transform-origin:top center;
}


@-moz-keyframes cartel {

	20%{
		-moz-transform:rotate(15deg);
	}
	40%{
		-moz-transform:rotate(-10deg);
	}
	60%{
		-moz-transform:rotate(5deg);
	}

	80%{
		-moz-transform:rotate(-3deg);
	}
}



.balanceo:hover {
	-moz-animation: 1s balanceo 1;
	
}


@-moz-keyframes balanceo {
	20%{
		-moz-transform: scale(0.7)
						rotate(6deg);
	}
	30%,70%{
		-moz-transform: scale(1.1)
						rotate(6deg);
	}

	50%,90%{
		-moz-transform: scale(1.1)
						rotate(-6deg);
	}
}